<!-- Start Slider -->
<section id="mu-slider">
  <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="./../../../assets/img/slider/bg_1.jpg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
      <h4>Welcome To Flashcard</h4>
      <span></span>
      <h2>We Will Help You To Learn Vocabulary</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde
        eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
    </div>
  </div>

</section>
<!-- End Slider -->

<!-- Start service  -->
<section id="mu-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-service-area">
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-book"></span>
            <h3>Learn Online</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem
              exercitationem praesentium, est!</p>
          </div>
          <!-- Start single service -->
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-users"></span>
            <h3>Easy To Learn</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem
              exercitationem praesentium, est!</p>
          </div>
          <!-- Start single service -->
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-table"></span>
            <h3>Best Flashcards</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem
              exercitationem praesentium, est!</p>
          </div>
          <!-- Start single service -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service  -->

<!-- Start about us -->
<section id="mu-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-about-us-area">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="mu-about-us-left">
                <!-- Start Title -->
                <div class="mu-title">
                  <h2>About Us</h2>
                </div>
                <!-- End Title -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum pariatur fuga eveniet soluta
                  aspernatur rem, nam voluptatibus voluptate voluptates sapiente, inventore. Voluptatem, maiores esse
                  molestiae.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                  <li>Saepe a minima quod iste libero rerum dicta!</li>
                  <li>Voluptas obcaecati, iste porro fugit soluta consequuntur. Veritatis?</li>
                  <li>Ipsam deserunt numquam ad error rem unde, omnis.</li>
                  <li>Repellat assumenda adipisci pariatur ipsam eos similique, explicabo.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat harum facilis
                  excepturi et? Mollitia!</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="mu-about-us-right">
                <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video">
                  <img src="../../../assets/img/slider/about.jpg" alt="img">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us -->

<!-- Start about us counter -->
<section id="mu-abtus-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-abtus-counter-area">
          <div class="row">
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-book"></span>
                <h4 class="counter">568</h4>
                <p>Subjects</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-users"></span>
                <h4 class="counter">3500</h4>
                <p>Students</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-flask"></span>
                <h4 class="counter">65</h4>
                <p>Modern Lab</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single no-border">
                <span class="fa fa-user-secret"></span>
                <h4 class="counter">250</h4>
                <p>Teachers</p>
              </div>
            </div>
            <!-- End counter item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us counter -->

<!-- Start latest course section -->
<section id="mu-latest-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-latest-courses-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Hot Topic</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia, vitae
              voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!</p>
          </div>
          <!-- End Title -->
          <!-- Start latest course content -->
          <div id="mu-latest-course-slide" class="mu-latest-courses-content">
            <div class="col-lg-4 col-md-4 col-xs-12" style="padding-bottom: 30px;"
              *ngFor="let item of topicsAsync | async">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="../../../assets//img//slider//test_topic.jpg" alt="img"></a>
                </figure>
                <div class="mu-latest-course-single-content">
                  <h3><a href="#">{{item.name}}</a></h3>
                  <p>{{item.content}}</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" href="#">Details</a>
                    <!-- <span class="mu-course-price" href="#">$165.00</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End latest course content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End latest course section -->

<!-- Start our teacher -->
<section id="mu-our-teacher">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-our-teacher-area">
          <!-- begain title -->
          <div class="mu-title">
            <h2>Hot Flashcard</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit repellat minus
              molestiae ea.</p>
          </div>
          <!-- end title -->
          <!-- begain our teacher content -->
          <div class="mu-our-teacher-content">
            <div class="row">
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                    <!-- <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div> -->
                  </figure>
                  <div class="mu-ourteacher-single-content">
                    <div class="row">
                      <div class="col-sm-9">
                        <h4>Brian Dean</h4>
                      </div>
                      <div class="col-sm-3 ml-auto">
                        <a style="cursor: pointer; "><img style="width: 30px;
                          height: 30px;
                          margin-top: 5px;" src="./../../../assets//img//slider//speaker1.svg" alt="teacher img">

                        </a>
                        <!-- <h4 style="text-align: right;">Loa</h4> -->
                      </div>
                    </div>
                    <!-- <p style="text-align: right;">Bp</p> -->
                    <span>Math Teacher</span>
                    <p>Lorem ipsum dolor .</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>
                <!-- </div> -->
                <!-- <div class="mu-our-teacher-single"> -->
                  <div class="mu-ourteacher-single-content">
                    <h4>Brian Dean</h4>
                    <span>Math Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio
                      dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>
                  <div class="mu-ourteacher-single-content">
                    <h4>Brian Dean</h4>
                    <span>Math Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio
                      dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>
                  <div class="mu-ourteacher-single-content">
                    <h4>Brian Dean</h4>
                    <span>Math Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio
                      dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3  col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>
                  <div class="mu-ourteacher-single-content">
                    <h4>Brian Dean</h4>
                    <span>Math Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio
                      dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-02.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>
                  <div class="mu-ourteacher-single-content">
                    <h4>James Hein</h4>
                    <span>Physics Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio
                      dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-03.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>
                  <div class="mu-ourteacher-single-content">
                    <h4>Rebeca Michel</h4>
                    <span>English Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio
                      dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="mu-our-teacher-single">
                  <figure class="mu-our-teacher-img">
                    <img src="assets/img/teachers/teacher-04.png" alt="teacher img">
                    <div class="mu-our-teacher-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-linkedin"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                    </div>
                  </figure>
                  <div class="mu-ourteacher-single-content">
                    <h4>John Doe</h4>
                    <span>Biology Teacher</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quod pariatur recusandae odio
                      dignissimos. Eligendi.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End our teacher content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End our teacher -->
