<!-- Start Slider -->
<section id="mu-slider">
  <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="./../../../assets/img/slider/bg_1.jpg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
      <h4>Welcome To Flashcard</h4>
      <span></span>
      <h2>We Will Help You To Learn Vocabulary</h2>

    </div>
  </div>

</section>
<!-- End Slider -->

<!-- Start service  -->
<section id="mu-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-service-area">
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-book"></span>
            <h3>Learn Online</h3>
            <p>You can study anytime, anywhere with just the internet</p>
          </div>
          <!-- Start single service -->
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-users"></span>
            <h3>Natural English</h3>
            <p>Learning English communication system based on Natural Appoach method, helping you to develop listening and speaking ability automatically after only 6 months.</p>
          </div>
          <!-- Start single service -->
          <!-- Start single service -->
          <div class="mu-service-single">
            <span class="fa fa-table"></span>
            <h3>Best Flashcards</h3>
            <p>We have all the vocabulary on all topics for you to study</p>
          </div>
          <!-- Start single service -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service  -->

<!-- Start about us -->
<section id="mu-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-about-us-area">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="mu-about-us-left">
                <!-- Start Title -->
                <div class="mu-title">
                  <h2>About Us</h2>
                </div>
                <!-- End Title -->
                <p>Flashcard Application is an online language education project developed by a team of English educators, online education technology specialists, and a team of young and passionate young people in Vietnam. The project is managed by Fanken Limited Liability Company, a pioneer in the development of educational projects for the community.</p>
                <ul>
                  <li>The system will start operating in 2020.</li>
                  <li>Reliable data is aggregated from a variety of sources.</li>
                  <li>Trial exams help remember things longer than learned.</li>
                  <li>Parents can play with their children.</li>
                  <li>You can study anytime, anywhere with just the internet</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="mu-about-us-right">
                <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video">
                  <img src="../../../assets/img/slider/about.jpg" alt="img">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us -->

<!-- Start about us counter -->
<section id="mu-abtus-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-abtus-counter-area">
          <div class="row">
            <!-- Start counter item -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-book"></span>
                <h4 *ngIf="falshcardHome" class="counter">{{falshcardHome.totalTopic}}</h4>
                <p>Topic</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="mu-abtus-counter-single">
                <span class="fa fa-users"></span>
                <h4 *ngIf="falshcardHome" class="counter">{{falshcardHome.totalUser}}</h4>
                <p>User</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="mu-abtus-counter-single no-border">
                <span class="fa fa-car"></span>
                <h4 *ngIf="falshcardHome" class="counter">{{falshcardHome.totalFlashcard}}</h4>
                <p>Flashcard</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <!-- <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single no-border">
                <span class="fa fa-user-secret"></span>
                <h4 class="counter">250</h4>
                <p>Teachers</p>
              </div>
            </div> -->
            <!-- End counter item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us counter -->

<!-- Start latest course section -->
<section id="mu-latest-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-latest-courses-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Hot Topic</h2>
            <p>These are the topics that most people follow.</p>
          </div>
          <!-- End Title -->
          <!-- Start latest course content -->
          <div id="mu-latest-course-slide" class="mu-latest-courses-content">
            <div class="col-lg-4 col-md-4 col-xs-12" style="padding-bottom: 30px;"
              *ngFor="let item of topicsAsync | async">
              <div class="mu-latest-course-single">
                <figure class="mu-latest-course-img">
                  <a href="#"><img src="{{item.imageUrl}}" alt="img"></a>
                </figure>
                <div class="mu-latest-course-single-content">
                  <h3><a href="#">{{item.name}}</a></h3>
                  <p style="height: 100px;">{{ (item.content.length>180)? (item.content | slice:0:180)+'...' : (item.content)}}</p>
                  <div class="mu-latest-course-single-contbottom">
                    <a class="mu-course-details" routerLink="/flashcard/topic/{{item.id}}">Details</a>
                    <!-- <span class="mu-course-price" href="#">$165.00</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End latest course content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End latest course section -->

<!-- Start our teacher -->
<section id="mu-our-teacher">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-our-teacher-area">
          <!-- begain title -->
          <div class="mu-title">
            <h2>Hot Flashcard</h2>
            <p>These are the flashcards that most people follow.
            </p>
          </div>
          <!-- end title -->
          <!-- begain our teacher content -->
          <div class="mu-our-teacher-content">
            <div class="row">
              <div class="col-lg-4 col-md-4  col-sm-6 "
                    *ngFor="let item of popularFalshcards ">

                    <div class="mu-our-teacher-single">
                      <figure class="mu-our-teacher-img">
                        <div class="flip-card">
                          <div class="flip-card-inner">
                            <div class="flip-card-front">
                              <img src="{{item.images[0].imageUrl}}" alt="Avatar" style="width:260px;height:265px;">
                            </div>
                            <div class="flip-card-back">
                              <h1>{{item.word | titlecase}}</h1>
                              <p>{{item.meaning }}</p>
                              <p>Example: {{item.example}}</p>
                            </div>
                          </div>
                        </div>
                      </figure>
                      <div class="mu-ourteacher-single-content" style="padding-bottom: 50px;">
                        <div class="row">
                          <div class="col-sm-7">
                            <h4>{{item.word | titlecase}}</h4>
                          </div>
                          <div class="col-sm-2 mr-auto">

                            <a (click) = "playAudio(item.pronunciations[0]?.link)" style="cursor: pointer; "><img style="width: 30px;
                              height: 30px;
                              margin-top: 5px;" src="./../../../assets//img//slider//speaker1.svg" alt="teacher img">

                            </a>
                            <!-- <h4 style="text-align: right;">Loa</h4> -->
                          </div>
                          <!-- <div class="col-sm-2 ml-auto">
                            <a style="cursor: pointer; "><img style="width: 30px;
                            height: 30px;
                            margin-top: 5px;" src="./../../../assets//img/heart_black.svg" alt="teacher img">

                            </a>
                          </div> -->
                        </div>
                        <!-- <p style="text-align: right;">Bp</p> -->
                        <span>Phonetic: {{item.pronunciations[0]?.phonetic || "null"}}</span>
                      </div>
                    </div>
                  </div>


            </div>
          </div>
          <!-- End our teacher content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End our teacher -->
